## Exercise 1

In [4]:
month_number = int(input("Enter the month: "))

months = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]

if 1 <= month_number <= 12:
    print(f"Month {month_number} is {months[month_number - 1]}")
else:
    print("Invalid month number. Please enter a number between 1 and 12.")

Enter the month: 3
Month 3 is March

In [5]:
month_number = int(input("Enter the month: "))

months = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]

if 1 <= month_number <= 12:
    print(f"Month {month_number} is {months[month_number - 1]}")
else:
    print("Invalid month number. Please enter a number between 1 and 12.")

Enter the month: 16
Invalid month number. Please enter a number between 1 and 12.

# #Exercise 2

In [11]:
#Exercise 2

age = int(input("Enter your age: "))
full_price = 6.0

if age < 16:
    ticket_price = full_price / 2
elif age >= 60:
    ticket_price = full_price / 3
else:
    ticket_price = full_price

print(f"Your ticket costs £{ticket_price:.2f}")

Enter your age: 3
Your ticket costs £3.00

In [9]:
age = int(input("Enter your age: "))
full_price = 6.0

if age < 16:
    ticket_price = full_price / 2
elif age >= 60:
    ticket_price = full_price / 3
else:
    ticket_price = full_price

print(f"Your ticket costs £{ticket_price:.2f}")

Enter your age: 61
Your ticket costs £2.00

In [10]:
age = int(input("Enter your age: "))
full_price = 6.0

if age < 16:
    ticket_price = full_price / 2
elif age >= 60:
    ticket_price = full_price / 3
else:
    ticket_price = full_price

print(f"Your ticket costs £{ticket_price:.2f}")

Enter your age: 20
Your ticket costs £6.00

## Exercise 3

In [13]:

weight = float(input("Enter your weight in (kg): "))
height = float(input("Enter your height in (m): "))

bmi = weight / (height ** 2)
print(f"Your BMI is: {bmi:.2f}")

if bmi < 18.5:
    status = "underweight"
elif 18.5 <= bmi < 25:
    status = "normal"
elif 25 <= bmi < 30:
    status = "overweight"
else:
    status = "obese"

print(f"You are in the \"{status}\" range.")

Enter your weight in (kg): 78
Enter your height in (m): 1.7
Your BMI is: 26.99
You are in the "overweight" range.

## Exercise 4

In [15]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

greatest = max(a, b, c)
print(f"The greatest number is: {greatest}")

Enter first number: 2
Enter second number: 1
Enter third number: 3
The greatest number is: 3.0

## Exercise 5

In [18]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number: 45
The factorial of 45 is 119622220865480194561963161495657715064383733760000000000

In [19]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number: -1
Factorial does not exist for negative numbers.

## Exercise 6 Reverse a number

In [20]:
num = int(input("Enter a number: "))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print(f"Reversed number: {reversed_num}")

Enter a number: 34
Reversed number: 43

## Exercise 7 Multiples of a Number

In [23]:
num = int(input("Enter a number to find its multiples up to 100: "))
print(f"Multiples of {num}:")

for i in range(1, 101):
    if i % num == 0:
        print(i, end=' ')

Enter a number to find its multiples up to 100: 7
Multiples of 7:
7 14 21 28 35 42 49 56 63 70 77 84 91 98

## Exercise 8

In [24]:
while True:
    user_input = input(":")
    print(user_input)
    if user_input.lower() == 'done':
        break

:hai
hai
:hello
hello
:what
what
:done
done

## Exercise 9

In [25]:
for i in range(1, 11):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

## Exercise 10

In [26]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1