In [1]:
import numpy as np

# Exercise 1
arr = np.arange(1, 11)
reshaped_arr = arr.reshape(2, 5)
print("2x5 Matrix:\n", reshaped_arr)

2x5 Matrix:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [2]:
# Exercise 2
arr = np.arange(1, 21)
subset = arr[5:16]  # Index 5 to 15 inclusive
print("Elements from index 5 to 15:", subset)

Elements from index 5 to 15: [ 6  7  8  9 10 11 12 13 14 15 16]

In [3]:
import pandas as pd

# Exercise 3
fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruits['pears'] = 4
print("Updated Series:\n", fruits)

Updated Series:
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [4]:
# Exercise 4
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 32, 28, 45, 30, 22, 27, 35, 40, 29],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       name  age gender
0    Alice   25      F
1      Bob   32      M
2  Charlie   28      M
3    David   45      M
4      Eve   30      F
5    Frank   22      M
6    Grace   27      F
7   Hannah   35      F
8      Ian   40      M
9     Jane   29      F

In [5]:
# Exercise 5
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations
print("DataFrame with Occupation:\n", df)

DataFrame with Occupation:
       name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   32      M     Manager
2  Charlie   28      M     Analyst
3    David   45      M  Programmer
4      Eve   30      F     Manager
5    Frank   22      M     Analyst
6    Grace   27      F  Programmer
7   Hannah   35      F     Manager
8      Ian   40      M     Analyst
9     Jane   29      F  Programmer

In [6]:
# Exercise 6
age_filtered = df[df['age'] >= 30]
print("Rows where age >= 30:\n", age_filtered)

Rows where age >= 30:
      name  age gender  occupation
1     Bob   32      M     Manager
3   David   45      M  Programmer
4     Eve   30      F     Manager
7  Hannah   35      F     Manager
8     Ian   40      M     Analyst

In [7]:
# Exercise 7
df.to_csv("people_data.csv", index=False)

# Read the CSV file back into a DataFrame
df_from_csv = pd.read_csv("people_data.csv")
print("Data from CSV:\n", df_from_csv)

Data from CSV:
       name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   32      M     Manager
2  Charlie   28      M     Analyst
3    David   45      M  Programmer
4      Eve   30      F     Manager
5    Frank   22      M     Analyst
6    Grace   27      F  Programmer
7   Hannah   35      F     Manager
8      Ian   40      M     Analyst
9     Jane   29      F  Programmer